:root{
    --primaryColor: #ffffff;
    --text: #ffffffc2;
    --background: #2d2076;
    --borderColor: #715af4;
    --Hovercolor: #f2ce83; 
}

html{
    background-color: var(--background);
    color: var(--text);
}

body {
    /* background-color: var(--background); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    /* color: var(--text); */
    font-family: 'Times New Roman', Times, serif;
}

#SpeedControlWheel {
    /* background-color: var(--background); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* border: 3px var(--borderColor) solid;
    border-radius: 5px; */
}

#SpeedWheelDrawing {
    width: 600px;
    border: 4px var(--borderColor) solid;
    border-radius: 5px;
    box-shadow: 5px 5px 7px black;
}

a {
    margin-bottom: 20px;
}
p{
    width: 500px;
    text-align: center;
    /* color: var(--text); */
}
#SpeedWheelImage{
    width: 300px;
    border: 4px var(--borderColor) solid;
    border-radius: 5px;
    box-shadow: 5px 5px 7px black;
}
#GroupReport{
    font-size: 20px;
    /* color: var(--text); */
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

button{
    padding: 10px 20px;
    background-color: var(--button);
    border-color: var(--borderColor);
    transition: background-color .3s ease;
    cursor: pointer;
    border-radius: 3px;
}

button :hover{
    background-color: var(--Hovercolor);
    /* border-color: var(--Hovercolor) */
}