:root{
    --primaryColor: #ffffff;
    --text: #ffffffc2;
    --background: #2d2076;
    --borderColor: #715af4;
    --Hovercolor: #f2ce83; 
    --Activetext: black;
}

#Lost {
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 35px;
}

html{
    background-color: var(--background);
    color: var(--text);
}

body {
    /* background-color: var(--background); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    /* color: var(--text); */
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    place-items: center;
}

button{
    padding: 10px 20px;
    background-color: var(--button);
    border-color: var(--borderColor);
    transition: background-color .6s ease;
    cursor: pointer;
    border-radius: 3px;
}

button:hover{
    background-color: var(--Hovercolor);
    color: var(--Activetext);
}

button :active{
    background-color: var(--text);
    color: var(--Activetext);
}