:root{
    --primaryColor: #ffffff;
    --text: #ffffffc2;
    --background: #2d2076;
    --borderColor: #715af4;
}

#Lost {
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 35px;
}

body {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    place-items: center;
}