:root{
    --primaryColor: #ffffff;
    --text: #ffffffc2;
    --background: #2d2076;
    --borderColor: #715af4;
}

body {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: hsl(0, 0%, 10%);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: var(--text);
}
p{
    color: var(--text);
}

#StaplerImage {
    height: 500px;
    border: 4px var(--borderColor) solid;
    border-radius: 5px;
    box-shadow: 5px 5px 7px black;
}

#StaplerBaseDiv {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#StaplerDrawing{
    height: 500px;
    rotate: 90deg;
    border: 4px var(--borderColor) solid;
    border-radius: 5px;
    box-shadow: 5px -5px 7px black;
}
#StaplerBase{
    text-align: center;
}
#IndivReport{
    font-size: 20px;
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-bottom: 20px;
}
