:root{
    --primaryColor: #ffffff;
    --text: #ffffffc2;
    --background: #2d2076;
    --borderColor: #715af4;
    --button: #2a277a;
    --Hovercolor: #f2ce83; 
}

html{
    background-color: var(--background);
    color: var(--text);
}

body {
    /* background-color: var(--background); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* color: hsl(0, 0%, 10%); */
    font-family: 'Times New Roman', Times, serif;
}

/* h1 {
    color: var(--text);
} */
/* p{
    color: var(--text);
} */

#StaplerImage {
    height: 500px;
    border: 4px var(--borderColor) solid;
    border-radius: 5px;
    box-shadow: 5px 5px 7px black;
}

#StaplerBaseDiv {
    /* background-color: var(--background); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

#StaplerDrawing{
    height: 500px;
    rotate: 90deg;
    border: 4px var(--borderColor) solid;
    border-radius: 5px;
    box-shadow: 5px -5px 7px black;
}
#StaplerBase{
    text-align: center;
}
#IndivReport{
    font-size: 20px;
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    background-color: var(--button);
    border-color: var(--borderColor);
    transition: background-color .3s ease;
    cursor: pointer;
    border-radius: 3px;
}

button:hover{
    background-color: var(--Hovercolor);
}