:root {
    --primaryColor: #ffffff;
    --text: #ffffffc2;
    --background: #2d2076;
    --button: #2a277a;
    --borderColor: #715af4;
    --Hovercolor: #f2ce83; 
}

html{
    background-color: var(--background);
}

body {
    /* background-color: hsl(0, 0%, 90%); */
    /* background-color: var(--background); */
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

h1 {
    /* color: hsl(0, 0%, 10%); */
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 35px;
    margin-bottom: 10px;
    /* background-color: var(--background); */
}

#Link {
    color: var(--text);
}

a {
    font-size: 20px;
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

p {
    font-size: 20px;
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: center;
    width: 75vw;
}

h2 {
    font-size: 25px;
    margin-bottom: 7px;
}

/* ul li a:hover{
    color: yellow;
} */
h3 {
    margin-bottom: 35px;
}

h4 {
    margin-bottom: 7px;
}

li {
    line-height: 40px;
}
button{
    padding: 10px 20px;
    background-color: var(--button);
    border-color: var(--borderColor);
    transition: background-color .3s ease;
    cursor: pointer;
    border-radius: 3px;
}

a:hover{
    color: black;
}

button :hover{
    background-color: #f2ce83;
}

li :hover{
    background-color: #f2ce83;
    color: black;
}

h5{
    text-align: center;
    border: 2px var(--borderColor) solid;
    padding: 20px;
    margin-top: 7em;
}