body {
    background-color: hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    color: hsl(0, 0%, 10%);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#resumeLink {
    font-size: 20px;
    color: hsl(0, 0%, 10%);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

#StaplerLink {
    font-size: 20px;
    color: hsl(0, 0%, 10%);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

#JigsawLink {
    font-size: 20px;
    color: hsl(0, 0%, 10%);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
#Podcast{
    font-size: 20px;
    color: hsl(0, 0%, 10%);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}